.forum_page_primary_wrapper {
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
  padding-left: 39px;
  padding-right: 39px;
  background-color: var(--primary-dark-color);
  position: relative;
}

.learning_path_create_button {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-top: 13px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 16px;
  margin-bottom: 0;
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
  transition: background 0.15s ease-out;
}

.learning_path_create_button:hover {
  background: rgba(255, 255, 255, 0.15);
}

.learning_path_create_button_icon {
  width: 18px;
  margin-right: 13px;
}

.forum_page_upper_sec_wrapper {
  width: 100%;
  border-bottom: 1px solid white;
  position: sticky;
  top: 80px;
  padding-top: 24px;
  background-color: var(--primary-dark-color);
}

.forum_page_search_bar_wrapper {
  padding: 0;
  margin: 0;
  /* margin-top: 24px; */
  margin-bottom: 24px;
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  width: 400px;
  border-radius: 4px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.15s ease-out, width 0.3s ease-out;
  display: flex;
  align-items: center;
  margin-left: 16px;
  /* position: sticky;
  top: 30px; */
}

.forum_page_search_bar_wrapper:focus-within {
  background: rgba(255, 255, 255, 0.1);
  width: 450px;
}

.forum_page_search_bar_form_search_icon {
  width: 18px;
  height: 18px;
  margin: 0pc;
  padding: 0pc;
  margin-right: 15px;
}

.forum_page_search_bar_input {
  padding: 0px;
  width: 100%;
  margin: 0px;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.forum_page_questions_list_wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 16px;
  padding-top: 5px;
}

.forum_page_question_wrapper {
  width: 100%;
  margin: 0;
  padding: 20px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid white;
}

.forum_page_question_wrapper:last-of-type {
  border-bottom: none;
}

.forum_page_question_title {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.forum_page_question_tags_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  width: 100%;
}

.forum_page_question_tag {
  font-size: 11px;
  font-weight: 400;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin: 0;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: 1px solid white;
  transition: background 0.15s ease-out;
}

.forum_page_question_tag:hover {
  background: rgba(255, 255, 255, 0.1);
}

.forum_page_question_tags_wrapper div {
  margin-right: 8px;
}

.forum_page_question_tags_wrapper :last-child {
  margin-right: 0px;
}

.forum_page_new_question_popup_primary_wrapper {
  width: fit-content;
  background: transparent;
  border-radius: 0;
}

.forum_page_new_question_popup_secondary_wrapper {
  padding: 25px;
  padding-bottom: 50px;
  padding-top: 35px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  background-color: var(--primary-dark-color);
  border: 3px solid white;
}

.forum_page_new_question_popup_header,
.forum_page_new_question_popup_input,
.forum_page_new_question_popup_submit_button {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.forum_page_new_question_popup_header_tag {
  margin-top: 25px;
}

.forum_page_new_question_popup_input {
  margin-top: 12px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  border: 1px solid white;
  border-radius: 4px;
}

.forum_page_new_question_popup_submit_button {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
  transition: background 0.15s ease-out;
  cursor: pointer;
}
