.l_l_primary_wrapper {
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.l_l_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 15px;
  margin: 0;
  border-bottom: 2px solid white;
}

.l_l_list_wrapper {
  width: 100%;
  margin-top: 2px;
}

.l_l_list_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
}

.l_l_list_item_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.l_l_list_item_delete_button,
.l_l_list_item_leave_button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.15s ease-out;
}
.l_l_list_item_leave_button {
  padding: 8px;
}
.l_l_list_item_delete_button:hover,
.l_l_list_item_leave_button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.l_l_delete_popup_primary_wrapper {
  width: fit-content;
  background: transparent;
  border-radius: 0;
}
.l_l_delete_popup_secondary_wrapper {
  padding: 25px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  background-color: var(--primary-dark-color);
  border: 3px solid white;
}

.l_l_delete_popup_title,
.l_l_delete_popup_button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}
.l_l_delete_popup_title {
  width: 250px;
}

.l_l_delete_popup_button {
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
  transition: background 0.15s ease-out;
  cursor: pointer;
}

.l_l_delete_popup_button:hover {
  background: rgba(255, 255, 255, 0.1);
}
