@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* font-family: 'Montserrat', sans-serif; */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primary-dark-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-dark-color: #36323d;
  --max-width-of-question-page-content: 1000px;
}

.bg_change_hover {
  transition: background 0.1s ease-out;
  cursor: pointer;
}

.bg_change_hover:hover {
  background: rgba(255, 255, 255, 0.1);
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
